<footer class="bg-gray-900 text-white mt-8 py-4">
  <div class="max-w-full px-4">
    <p class="mb-0 text-center">&copy; <%= new Date().getFullYear() %> <%= t('common:app.name') %>.</p>
  </div>
</footer>
